body{
	text-align: center;
	margin: 0 0px;		
}
.container-fluid{
	margin: 0px 40px;
}
.cpu{
	border: 1px solid black;
	width: 190px;
	height: 35px;
	margin: 0 auto;
}
.cola1{
	border: 1px solid black;
	height: 150px;
	overflow: auto;
}
.cola2{
	border: 1px solid black;
	height: 150px;
	overflow: auto;
}
.cola3{
	border: 1px solid black;
	height: 150px;
	overflow: auto;
}
.procesador{
	border: 1px solid black;
	padding: 5px;
}
.contenedor{
	padding: 10px;
}
table{
	font-size: 10px;
}
iframe{
	width: 80%;
	height: 300px;
}
.tablass{
	overflow: auto;
}